// Define variables for your color scheme

// For example:
$red: #D9534F;
$blue: #2E67D1;
$light-blue: #ECF1FB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #04985A;
$light-green: #178C5F;
$gray: #0E0000;
$light-gray: #f2f2f2;
$white: #FFFFFF;
$black: #404347;
$input-border: #C9CFD4;
