.dog-top-profile{
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.dog-avatar {
  width: 300px;
  border-radius: 10%;
  filter: drop-shadow(2px 2px 2px rgb(200, 200, 200));
}

.dog-info{
  flex-direction: column;
  padding-left: 25px;
  padding-top: 85px;
  color: #404347;
}

#dog-info-weight1{
  font-weight: 700;
}

#dog-info-weight2{
  font-weight: 400;
}

.dog-info-weight3{
  font-weight: 100;
  color: #7b7f85;
}

.btn-primary{
  background: #2E67D1;
  border-color: #2E67D1;
  border-radius: 12px;
  height: 30px;
  width: 150px;
  line-height: 3px;
  color: $white;
  filter: drop-shadow(2px 2px 2px rgb(200, 200, 200));
  &:hover {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    background: $green;
  }
}

.btn-success{
  background: #2E67D1;
  border-color: #2E67D1;
  border-radius: 12px;
  height: 30px;
  width: 40px;
  line-height: 1px;
  text-align: center;
  color: $white;
  filter: drop-shadow(2px 2px 2px rgb(200, 200, 200));
  &:hover {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    background: $green;
  }
}
