.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-column {
  width: 40%;
  margin: 16px;
  height: 80vh;
}

.profile-card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 1px #00000005;
  display: flex;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  > h2 {
    padding: 16px;
  }
}

.profile-card-info {
  padding: 16px;
}

.profile-card-avatar {
  width: 25%;
  border-radius: 4px;
  object-fit: cover;
  padding: 16px;
  height: fit-content;
}

.profile-favourites {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 80vh;
  overflow: scroll
}

.profile-favourites-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
}

.profile-review-back-button {
  text-decoration: none;
  p {
    text-decoration: none;
    color: white;
    background-color: $red;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 1px #80808038;
  }
}

.arrow-left {
  border: solid #777777;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-top: 15px;
  margin-left: -1450px;
}
