.flexbox-container {
display: grid;
justify-content: space-around;
flex-direction: column;

}
.flexbox-item {
  margin: 28px;
  width: 641px;
  height: 315px;
  left: 70px;
  top: 121px;
  background: #FFFFFF;
  border: 1px solid #E6E8EB;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.flexbox-item-profile {
  align-self: flex-start;
}

.flexbox-item-your-favourites {
  grid-area: 1 / col4-start / last-line / 6;
}
