.profile_card {
  position: absolute;
  width: 641px;
  height: 315px;
  left: 70px;
  top: 121px;
  background: #FFFFFF;
  border: 1px solid #E6E8EB;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
