<div class="banner">
  <div class="container">
    <div class="banner-heading">
      <h1>Find dog-friendly activities near you</h1>
    </div>
    <div>
      <%= render "shared/search_main" %>
    </div>
  </div>
</div>
