<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <%= cl_image_tag(dog.cl_tag, width: 150, height: 150, class: "img-fluid rounded-start") %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= dog.name %></h5>
          <p class="card-text"><%= dog.name %></p>
          <p class="card-text"><%= dog.biography %></p>
          <!--Display favourite heart-->
          <div class="dog-card-favourite" id="dog-card-favourite">
            <% if dog.favourite.nil? %>
              <i class="fa-regular fa-heart"></i>
            <% else %>
              <% if current_user.favourites.ids.include?(dog.favourite.id) %>
                <i class="fa-solid fa-heart"></i>
              <% else %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
