<div class="search-main-container">
  <div class="park-search search-filter">
    <%= link_to '#' do %>
      <i class="fa-solid fa-tree"></i>
      <p>Parks</p>
    <% end %>
  </div>
  <div class="restaurant-search search-filter">
    <%= link_to '#' do %>
      <i class="fa-solid fa-utensils"></i>
      <p>Restaurants</p>
    <% end %>
  </div>
  <div class="bin-search search-filter">
    <%= link_to '#' do %>
      <i class="fa-solid fa-trash"></i>
      <p>Dog bins</p>
    <% end %>
  </div>
  <div class="dog-search search-filter">
    <%= link_to '#' do %>
      <i class="fa-solid fa-dog"></i>
      <p>Dogs</p>
    <% end %>
  </div>
</div>
