<div class="directions-container">
  <div class="directions-content">
    <h1>Directions</h1>
    <ol id="directions-content-here">
    </ol>
  </div>
  <div class="directions-map-container">
    <%= render "shared/directions_map" %>
  </div>
</div>
