<div>
  <div class="profile-card">
    <div class="image">
      <img src="assets/image 1.png" alt="">
    </div>
    <div class="profile-info">
      <h1>Your Profile</h1>
      <h2><%= @user.first_name.capitalize %></h2>
      <p>Location</p>
      <p><input type="checkbox">Want to meet other dogs?</p>
    </div>
  </div>

  <div class="pets-card">
    <h1>Your Pets</h1>
    <div class="container each-pets-card justify-content-around m-3">
      <img class="avatar" src="https://pm1.narvii.com/7256/39a7bc046cd888c051aa2382d89b91b5eba9e80er1-1536-2048v2_hq.jpg" alt="">
      <div class="profile-info flex-column ">
        <% @user.dogs.each do |dog| %>
          <p><%= dog.name %></p>
          <p><%= dog.breed %></p>
        <% end %>
        </div>
        <div class="edit-dog-profile d-flex justify-content-end align-items-center flex-column">
          <a href="#">edit</a>
          <a href="#"><i class="fa-duotone fa-caret-down"></i></a>
        </div>
      </div>
    </div>
    <br>
  </div>

    <div class="favourites-card">
    <div class="image">
      <img src="assets/image 1.png" alt="">
    </div>
    <div class="profile-info">
      <h1>My Favourites</h1>
      <h2><%= @user.first_name.capitalize %></h2>
      <p>Location</p>
      <p><input type="checkbox">Want to meet other dogs?</p>
    </div>
  </div>
</div>
