<div>
  <div class="profile-card">
    <div class="image">
      <img src="assets/image 1.png" alt="">
    </div>
    <div class="profile-info">
      <h1>Your Profile</h1>
      <h2><%= @user.first_name.capitalize %></h2>
      <p>Location</p>
      <p><input type="checkbox">Want to meet other dogs?</p>
    </div>
  </div>

  <div class="pets-card">
    <div class="image">
      <img src="assets/image 1.png" alt="">
    </div>
    <div class="profile-info">
      <h1>Your Pets</h1>
      <h2><%= @user.first_name.capitalize %></h2>
      <p>Location</p>
      <p><input type="checkbox">Want to meet other dogs?</p>
    </div>
  </div>

    <div class="favourites-card">
    <div class="image">
      <img src="assets/image 1.png" alt="">
    </div>
    <div class="profile-info">
      <h1>My Favourites</h1>
      <h2><%= @user.first_name.capitalize %></h2>
      <p>Location</p>
      <p><input type="checkbox">Want to meet other dogs?</p>
    </div>
  </div>
</div>
