<div class="flexbox-container">
  <div class="flexbox-item flexbox-item-profile">
    <h1>Your Profile</h1>
    <h2>Hi, <%= @user.first_name.capitalize %></h2>
  </div>
  <div class="flexbox-item flexbox-item-your-pets">
    <h1> Your Pets</h1>
  </div>
  <div class="flexbox-item flexbox-item-your-favourites">
    <h1>Your Favourites</h1>
  </div>
</div>
