body {
  button, input[type="button"], input[type="submit"] {
    border: none;
  }
}

.blue-button {
  background-color: #2E67D1;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  &:hover {
    color: white;
    box-shadow: 1px 1px 5px 1px #0000002e;
    background-color: #2c5ebc;
  }
}

.red-button {
  background-color: #D9534F;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: 0.3s;
  &:hover {
      background-color: #e44943fe;
      color: white;
      box-shadow: 1px 1px 5px 1px #0000002e;
  }
}

.button-margin-top {
  margin-top: 8px;
}
