.new-activity-selector {
  width: 100%;
  font-size: xx-large;
  background-color: $green;
  text-align-last: center;
  padding: 4px 8px;
  border-radius: 99999px;
}

.display-none {
  display: none;
}
