.devise-form-wrapper {
  width: 467px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: white;
  box-shadow: 2px 2px 5px 2px #0000000a;
  border-radius: 4px;
  padding: 16px 32px;
}

.devise-login-form-bottom-wrapper {
  display: flex;
  justify-content: center;
  a {
    padding-left: 8px;
  }
}

.devise-form-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.devise-form-button {
  background-color: #04985A;
  color: white;
  border-radius: 99999px;
  padding: 8px 56px;
  width: 100%;
  &:hover {
    background-color: #077249;
    color: white;
    border-radius: 99999px;
  }
}
