.profile-dogs-card {
  height: 200px;
  margin: 16px auto;
  padding: 16px;
  box-shadow: 1px 1px 3px 1px #00000005;
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 2px 2px #00000005;
  border-radius: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.profile-dogs-card-image {
  margin-right: 16px;
  align-self: center;
  img {
    object-fit: cover;
    max-width:100%;
    max-height:100%;
  }
}

.profile-dogs-card-info {
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
  }
}

#dog-card-favourite {
  text-align: right;
  padding-top: 16px;
}
