<<<<<<< HEAD
<div class="container">
  <div class="row justify-content-md-center">
    <div class="row">
      <div class="col">
        <%# this is going to be side filter / search %>
      </div>
      <div class="col-md-auto">
        <%# render card here %>
        <%= render 'shared/card', activities: @activities %>
      </div>
      <div class="col">
        <img src="https://cdn.europosters.eu/image/1300/art-photo/london-color-i101945.jpg" style="object-fit: cover; repeat: no-repeat;" alt="lonodn">
      </div>
    </div>
  </div>
</div>
