
  <div class="row justify-content-between pt-3">
      <div>
        <%# this is going to be side filter / search using js%>
      </div>
      <div class="col-7">
        <%# render card here %>
        <%= render 'shared/card', activities: @activities %>
      </div>
      <div class="col-5">
        <img src="..." style="object-fit: fill; repeat: no-repeat;" alt="lonodn-map">
      </div>
  </div>
