<div class="container">
  <div class="row justify-content-md-center">
    <div class="row match-to-row">
      <div class="col-md-4">
        <%# this is going to be side filter / search %>
      </div>
      <div class="col-md-4">
        <%# render card here %>
        <%= render 'shared/card', activities: @activities %>
      </div>
      <%# Render Mapbox %>
      <div class="col-md-4">
        <%= render 'shared/map' %>
      </div>
    </div>
</div>
