<div class="container">
  <div class="row">
    <div class="col">
      <%# this is going to be side filter / search %>
    </div>
    <div class="col">
      <%# render card here %>
    </div>
    <div class="col">
      <img src="../images/london-map.png" style="object-fit: cover; repeat: no-repeat;" alt="lonodn">
    </div>
  </div>
</div>
